<!doctype html>
<title>Python Flask File Upload Example</title>
<h2>Select a file to upload</h2>
<p>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul class=flashes>
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
</p>
<form method="post" action="/" enctype="multipart/form-data">
    <dl>
		<p>
		<body>
<!--			<audio controls>-->
<!--			  <source src="C:\Users\USER\Desktop\data2\1.wav" type="audio/wav">-->
<!--			Your browser does not support the audio element.-->
<!--			</audio>-->
			<input type="file" name="file" accept="audio/wav" required capture>
			<audio id="player" controls></audio>
			  <script>
			    const recorder = document.getElementById('recorder');
			    const player = document.getElementById('player');

			    recorder.addEventListener('change', function (e) {
			      const file = e.target.files[0];
			      const url = URL.createObjectURL(file);
			      // Do something with the audio file.
			      player.src = url;
			    });
			  </script>
			</audio>
			</body>
		</p>
    </dl>
    <p>
		<input type="submit" value="Submit">
	</p>
	<h3>The character named "{{character_name}}" </h3>
</form>
